@{
    ViewBag.Title = "Moje zamówienia";
}
<h1 class="text-center">@ViewBag.Title</h1>

@using Laundry.Models
@model MyOrders

<table class="myOrders-table center">
    <tr>
        <th>
            Adres nadania
        </th>
        <th>
            Data nadania
        </th>
        <th>
            Adres odbioru
        </th>
        <th>
            Data odbioru
        </th>
        <th>
            Cena
        </th>
    </tr>
    @foreach (var ord in Model.Orders)
    {
        <tr>
            <td>
                @ord.Order.GivingAddress
            </td>
            <td>
                @ord.Order.GivingDate
            </td>
            <td>
                @ord.Order.ReceiveAddress
            </td>
            <td>
                @ord.Order.ReceiveDate
            </td>
            <td>
                @ord.Order.Price
                zł
            </td>
        </tr>

        foreach (var or in ord.Parts)
        {
            <tr>
                <td>
                    @or.Service
                </td>
                <td>
                    @or.Thing
                </td>
            </tr>
        }


    }
</table>
<div id="NewOrder">
    <h3>Nowe zamówienie</h3>
    @if (Model.NewOrder != null)
    {
        @Html.Partial("_NewOrder", Model.NewOrder)
    }
    else
    {
//        <button class="btn btn-default btn-success center" onclick="AddOrder()">Utwórz</button>
@Html.ActionLink("Utwórz", "AddOrder", "MyOrders", new { @class = "btn btn-default btn-success center" })
    }

</div>