@{
    ViewBag.Title = "Moje zamówienia";
}
<h1 class="text-center">@ViewBag.Title</h1>

@using Laundry.Models
@model MyOrders

<table>
    @foreach (var ord in Model.Orders)
    {
        <tr>
            <td>
                @ord.Order.ReceiveAddress
            </td>
            <td>
                @ord.Order.ReceiveDate
            </td>
            <td>
                @ord.Order.Price
            </td>
        </tr>

        foreach (var or in ord.Parts)
        {
            <tr>
                <td>
                    @or.Service
                </td>
                <td>
                    @or.Thing
                </td>
            </tr>
        }


    }
</table>
<div id="NewOrder" class="newOrder" >
    @if (Model.NewOrder != null)
    {
        <h3>Nowe zamówienie:</h3>
        @Html.Partial("_NewOrder", Model.NewOrder)
    }
    else
    {
        <button class="btn btn-default btn-success center" onclick="AddOrder()">Nowe zamówienie</button>
    }
</div>