@{
    ViewBag.Title = "Moje zamówienia";
    ViewBag.Messages = "Moje zamówienia";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

@using Laundry.Models
@model MyOrders

<table>
    @foreach (var ord in Model.Orders)
    {
        <tr>
            <td>
                @ord.Order.ReceiveAddress
            </td>
            <td>
                @ord.Order.ReceiveDate
            </td>
            <td>
                @ord.Order.Price
            </td>
        </tr>

        foreach (var or in ord.Parts)
        {
            <tr>
                <td>
                    @or.Service
                </td>
                <td>
                    @or.Thing
                </td>
            </tr>
        }


    }
</table>
<div id="NewOrder">
    @if (Model.NewOrder != null)
    {
        <h3>New order:</h3>
        @Html.Partial("_NewOrder", Model.NewOrder)
    }
    else
    {
        <button onclick="AddOrder()">Dodaj</button>
    }
</div>