@using Laundry.Models
@model NewOrder
@{
    ViewBag.Title = "NewOrder";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.HiddenFor(m => m.Order.Id, new { @id = "orderId" })
<div id="NewOrder">
    <h3>Nowe zamówienie</h3>
    @using (Html.BeginForm("AddOrder", "MyOrders", FormMethod.Post, new { @class = "form-horizontal newOrder", role = "form" }))
    {
        @Html.Label("Adres nadania:", new { @class = "newOrder-label" })
        @Html.TextBoxFor(m => m.Order.GivingAddress, new { @class = "newOrder-input" })
        <br />
        @Html.Label("Data nadania:", new { @class = "newOrder-label" })
        @Html.TextBoxFor(m => m.Order.GivingDate, new { @class = "newOrder-input", @type = "datetime-local", @Value = DateTime.Now.ToString("yyyy-MM-ddTHH:mm") })
        <br />
        @Html.Label("Adres odbioru:", new { @class = "newOrder-label" })
        @Html.TextBoxFor(m => m.Order.ReceiveAddress, new { @class = "newOrder-input" })
        <br />
        @Html.Label("Data odbioru:", new { @class = "newOrder-label" })
        @Html.TextBoxFor(m => m.Order.ReceiveDate, new { @class = "newOrder-input", @type = "datetime-local", @Value = DateTime.Now.ToString("yyyy-MM-ddTHH:mm") })
        <br />
        if (Model.OrderParts == null)
        {
            <input class="btn btn-default btn-success center" type="submit" value="Dodaj" />
        }
    }
    <div id="parts">
        @if (Model.OrderParts != null)
        {
            <h3 class="text-center">Zawartość zamówienia</h3>
            <table class="myOrderParts-table center">
                <tr>
                    <th>
                        Usługa
                    </th>
                    <th>
                        Rzecz
                    </th>
                    <th>
                        Ilość
                    </th>
                </tr>
                @foreach (var p in Model.OrderParts)
                {
                    <tr>
                        <td>
                            @p.Service
                        </td>
                        <td>
                            @p.Thing
                        </td>
                        <td>
                            @p.Number
                        </td>
                    </tr>
                }
            </table>
        }
        @if (Model.OrderParts == null)
        {
            <h3 class="text-center">Zawartość zamówienia</h3>
            <table class="myOrderParts-table center">
                <tr>
                    <th>
                        Usługa
                    </th>
                    <th>
                        Rzecz
                    </th>
                    <th>
                        Ilość
                    </th>
                </tr>
                <tr>
                    <td>
                        ...
                    </td>
                    <td>
                        ...
                    </td>
                    <td>
                        ...
                    </td>
                </tr>
            </table>
        }
    </div>
    <br />
    <br />
    @if (Model.Prices != null)
    {
        using (Html.BeginForm("AddOrderPart", "MyOrders", FormMethod.Get, new { @class = "form-horizontal newOrder", role = "form" }))
        {
            @Html.Hidden("orderId", Model.Order.Id)
//            @Html.HiddenFor(m => m.Order.Id, new { @name = "orderId" });
            @Html.DropDownList("priceId", Model.Prices.Select(c => new SelectListItem { Text = c.ServiceName + "  " + c.ThingName + " " + c.Value + "zł", Value = c.PriceId.ToString() }), new { @class = "newOrder-input" })
            <br />
            @Html.Label("Ilość:")
            <input name="number" class="newOrder-input" />
            <br />
            <button class="btn btn-default btn-success center" type="submit">Dodaj</button>
//            <button class="btn btn-default btn-success center" onclick="AddPart()">Dodaj</button>
        }
    }


</div>