
@{
    ViewBag.Title = "Cennik";
}
<h1 class="text-center">@ViewBag.Title</h1>

@using Laundry.Models
@model Pricing

@if (User.IsInRole("Worker"))
{
    <div class="center">
        <a class="btn btn-primary m-1em" href="@Url.Action("AddThing")">Dodaj rzecz</a>
        <a class="btn btn-primary m-1em" href="@Url.Action("AddService")">Dodaj usługę</a>
        <a class="btn btn-primary m-1em" href="@Url.Action("DeleteThing")">Usuń</a>
    </div>
}

<table class="center pricing-table">
    <tr>
        <th>Usługa</th>
        <th>Rzecz</th>
        <th>Cena</th>
        @if (User.IsInRole("Worker"))
        {
            <th>Modyfikuj</th>
            <th>Usuń</th>
        }
    </tr>
    @foreach (var price in Model.Prices)
    {
        <tr id="@price.PriceId">
            <td>
                @price.ServiceName
            </td>
            <td>
                @price.ThingName
            </td>
            <td class="value">
                @price.Value
                zł
            </td>
            @if (User.IsInRole("Worker"))
            {
                <td class="button">
                    <button class="btn btn-xs btn-warning" id="button_@price.PriceId" state="0" onclick="Modify(@price.PriceId)">Modyfikuj</button>
                </td>
                <td>
                    <a class="btn btn-xs btn-danger" href="@Url.Action("DeletePrice", new { id = price.PriceId })">
                        Usuń
                        <i class="glyphicon glyphicon-remove"></i>
                    </a>
                </td>
            }
        </tr>
    }
</table>
